<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoerdragon.sockettell">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 首页 -->
        <activity android:name="com.feicui.teach.sockettell.activity.MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.feicui.teach.sockettell.activity.FirstActivity"/>

        <!--加载页面-->
        <activity android:name="com.feicui.teach.sockettell.activity.LoginActivity"/>

        <!-- 主界面 -->
        <activity android:name="com.feicui.teach.sockettell.activity.HomeActivity" />
        <!-- 音频设置 -->
        <activity android:name="com.feicui.teach.sockettell.activity.AudioSettingsActivity" />
        <!-- 通话方式 -->
        <activity android:name="com.feicui.teach.sockettell.activity.TalkTypeActivity" />
        <!--使用说明-->
        <activity android:name="com.feicui.teach.sockettell.activity.UseInfoActivity"></activity>
    </application>

</manifest>